<div class="parent-div marTop1">
    <div class="bordered-div">
        <div class="bordered-div">
            <div class="bordered-div">
                <div class="bordered-div">
                    <div class="bordered-div">
                        <div class="bordered-div">
                            <div class="bordered-div">
                                <div class="bordered-div content-parent flex-display">
                                    <span class="banner-content">Rotating Text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>