<div class="outer">
    <!-- <div class="container">
        <app-timer-serviced [currentInstant]="currentTimeInstant"></app-timer-serviced>
        <app-set-timer-serviced [timeInstant]="currentTimeInstant" (timerData)="timerStartedOrPaused($event)" (timerReset)="onTimerReset($event)"></app-set-timer-serviced>
        <app-logs-serviced [startCount]="startCount" [pauseCount] = "pauseCount"></app-logs-serviced>
        <app-timestamps-serviced [timeStamps] = "timestampsArray"></app-timestamps-serviced>
    </div> -->
    <div class="container">
        <app-timer-serviced></app-timer-serviced>
        <app-set-timer-serviced></app-set-timer-serviced>
        <app-logs-serviced></app-logs-serviced>
        <app-timestamps-serviced></app-timestamps-serviced>
    </div>
</div>